.card-container {
    display: flex;
}

.card {
    margin: 3%;
    height: 450px;
    width: 350px;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 3px 3px 7px  black;
}

.card:hover {
    transform: scale(1.07);
}

.card-img {
    margin-top: 3%;
    margin-left: 17%;
}

.card-heading {
    text-align: center;
}

.card-content {
    text-align: center;
}