a {
    text-decoration: none !important;
    color: black !important;
}


body {
    font-family: 'McLaren', cursive;
    font-family: 'Montserrat', sans-serif;
}

nav {
    margin: 1%;
    font-family: 'McLaren', cursive;
    font-family: 'Montserrat', sans-serif;
}

.main-logo {
    height: 65px;
    width: 70px;
    margin-right: 1%;
}

.nav-link {
    font-size: 17px !important;
    color: black !important;
}

.nav-link:hover {
    border-bottom: 2px solid rgb(255, 138, 59);
}

.dropdown-btn {
    border: 0px !important;
}

.dropdown-heading {
    margin-left: 4% !important;
    margin-right: 4%;
    border-bottom: 2px solid rgb(255, 138, 59) !important;
}

.custom-dropdown-menu {
    width: 400px;
    padding: 20px;
}

.user-icon {
    margin-left: 7px;
}

.custom-carousel {
    margin: 0;
}

.carousel-img {
    max-height: 580px !important;
    min-height: 580px !important;
}

.category-section {
    margin: 2%;
}

a {
    text-decoration: none !important;
}

.category {
    margin: 3%;
    min-width: 500px;
    max-width: 800px;
    display: flex;
    border: 1px solid white;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
}

.category:hover {
    transform: scale(1.05);
}

.category-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
}

.category-heading {
    color: black;
}

.category-content {
    margin: 1%;
    max-width: 100%;
    text-align: center;
    color: black;
}

.category-img {
    max-height: 300px;
    margin: 3%;
}

.deals-heading h1 {
    margin: 3% 20% 3% 20%;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    color: #222;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.deals-heading h1:after,
.deals-heading h1:before {
    content: " ";
    display: block;
    border-bottom: 1px solid rgb(255, 138, 59);
    border-top: 1px solid rgb(255, 138, 59);
    height: 5px;
    background-color: #f8f8f8;
}

.card-container {
    
    margin: 2% 5%;
}

.card {
    margin: 5%;
    height: 450px;
    width: 350px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 3px 3px 7px black;
}

.card-carousel {
    display: flex;
    width: 300%;
}

.card-img {
    max-height: 250px;
    width: 10%;
    transition: transform 0.5s ease-in-out;
}

.card-heading {
    text-align: center;
}

.card-content {
    text-align: center;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}