<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- EJS Part -->
    <% if (data.nameofperson && data.ageofperson) { %>
        <h2>Name: <%= data.nameofperson %></h2>
        <h2>Age: <%= data.ageofperson %></h2>
    <% } else { %>
        <p>No data submitted yet.</p>
    <% } %>
</body>
</html>
